body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

label {
  font-size: 20px;
}

.title {
  font: 54px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-weight: bolder;
  color: #1877f2;
}

.signup-signin-button {
  background-color: #1877f2;
  color: #ffffff;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  height: 48px;
  font-weight: bold;
  width: 95px;
}

.signup-signin-button:hover {
  background-color: #166fe5;
  cursor: pointer;
}

#welcome-paragraph {
  font: 30px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#logout-button {
  background-color: #1877f2;
  color: #ffffff;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  height: 60px;
  font-weight: bold;
  width: 95px;
}

#logout-button:hover {
  background-color: #166fe5;
  cursor: pointer;
}
