<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
      href="style.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />

  </head>
  <body>
    {{{body}}}

    <h1>Timeline</h1>
    <ul class="posts">
      {{#each posts}}
        <li>{{this.message}}</li>
      {{/each}}
    </ul>

    <a class="new-post-link" href="/posts/new">New post</a>

    {{! main body starts }}
    <div class="main-body">
      {{! sidebar starts }}
      <div class="sidebar">
        <div class="sidebarRow">
          <img
            class="avatarImg"
            src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/cute-cat-photos-1593441022.jpg?crop=0.669xw:1.00xh;0.166xw,0&resize=640:*"
          />{{!ADD HANDLEBARS}}
          <h4>Patrick Reynolds</h4>
          {{!ADD HANDLEBARS}}
        </div>
        <div class="sidebarRow">
          <span class="material-symbols-outlined">
            group
          </span>
          <h4>Friends</h4>
        </div>
        <div class="sidebarRow">
          <span class="material-symbols-outlined">
            groups
          </span>
          <h4>Groups</h4>
        </div>
        <div class="sidebarRow">
          <span class="material-symbols-outlined">
            event
          </span>
          <h4>Events</h4>
        </div>
      </div>
      {{! sidebar ends }}

      {{! wall starts }}

      <div class="wall">
        <div class="whats-on-your-mind">
          <img
            class="avatarImg"
            src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/cute-cat-photos-1593441022.jpg?crop=0.669xw:1.00xh;0.166xw,0&resize=640:*"
          />{{!ADD HANDLEBARS}}
          <form
            id="new-post-form"
            class="new-post-form"
            action="/posts"
            method="post"
          >
            <label for="message"></label>
            <input
              id="message"
              type="text"
              name="message"
              placeholder="what's on your mind?"
              value=""
            />
            <input type="submit" value="post" />
          </form>
          <ul class="wallPosts">
            {{!-- {{#each friendsPosts}}
              <div>{{this.message}}</div>
              {{/each}} --}}
          </ul>

          <a class="new-post-link" href="/posts/new">New post</a>

        </div>

      </div>
    </div>

  </body>
</html>